<div *ngIf="selectedProyect">
  {{selectedProyect.titulo}}
</div>

<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>&nbsp;</th>
    </tr>
</thead>  

<tr>
    <td><input class="form-control" [(ngModel)]="newProyect.id"></td>
    <td><input class="form-control" [(ngModel)]="newProyect.titulo"></td>
    <td><button class="btn btn-primary" (click)="addProyect()">Add Project</button> </td>
</tr>     
<tr *ngFor="let proyect of proyects" app-editable-proyect [proyect]="proyect">
</tr>

</table>