<div class="container-fluid">
    <div *ngIf="selectedProyect">
        {{selectedProyect.titulo}}
    </div>
    <button type="button" class="au-btn--blue" data-toggle="modal" data-target="#formAddProject">Add Project</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Organismo</th>
                    <th>Investigador Responsable</th>
                    <th>Investigadores</th>
                    <th>Presupuesto</th>
                    <th>Estado</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proyect of proyects" app-editable-proyect [proyect]="proyect"></tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="formAddProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="firstName">Título</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.titulo">
                </div>
                <div class="form-group">
                    <label for="firstName">Descripción</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.descripcion">
                </div>
                <div class="form-group">
                    <label for="firstName">Fecha inicio</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.fechaInicio">
                </div>
                <div class="form-group">
                    <label for="firstName">Fecha fin</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.fechaInicio">
                </div>
                <div class="form-group">
                    <label for="firstName">Organismo</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.organismo">
                </div>
                <div class="form-group">
                    <label for="firstName">Investigador Responsable</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.investigadorResponsable">
                </div>
                <div class="form-group">
                    <label for="firstName">Investigadores</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.investigadores">
                </div>
                <div class="form-group">
                    <label for="firstName">Presupuesto</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.presupuesto">
                </div>
                <div class="form-group">
                    <label for="firstName">Estado</label>
                    <input type="text" required class="form-control ng-pristine ng-touched" [(ngModel)]="newProyect.estado">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addProyect()">Save changes</button>
            </div>
        </div>
    </div>
</div>