<div *ngIf="selectedProyecto">
  {{selectedProyecto.titulo}}
</div>

<table class="table">
<thead>
    <tr>
        <th>Titulo</th>
        <th>Presupuesto</th>
        <th>&nbsp;</th>
    </tr>
</thead>  

<tr>
    <td><input class="form-control" [(ngModel)]="newProyecto.titulo"></td>
    <td><input class="form-control" [(ngModel)]="newProyecto.presupuestos"></td>
    <td><button class="btn btn-primary" (click)="addProyecto()">Add Proyecto</button> </td>
</tr>     

<tr *ngFor="let proyecto of proyectos" app-editable-proyecto [proyecto]="proyecto">
</tr>    
</table>