<td *ngIf="! editing">
    {{proyect.id}}</td>
<td *ngIf="! editing">{{proyect.titulo}}</td>
<td *ngIf="! editing">{{proyect.descripcion}}</td>
<td *ngIf="! editing">{{proyect.fechaInicio}}</td>
<td *ngIf="! editing">{{proyect.fechaFin}}</td>
<td *ngIf="! editing">{{proyect.organismo}}</td>
<td *ngIf="! editing">{{proyect.investigadorResponsable}}</td>
<td *ngIf="! editing">{{proyect.investigadores}}</td>
<td *ngIf="! editing">{{proyect.presupuesto}}</td>
<td *ngIf="! editing">{{proyect.estado}}</td>
<td *ngIf="editing">></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.titulo" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.descripcion" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.fechaInicio" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.fechaFin" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.organismo" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.investigadorResponsable" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.investigadores" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.presupuesto" /></td>
<td *ngIf="editing"><input class="form-control" [(ngModel)]="proyect.estado" /></td>
<td><button type="button" class="btn btn-primary" (click)="onEdit()">{{editing ? 'Guardar' : 'Editar'}}</button></td>
<td><button type="button" class="btn btn-danger" (click)="deleteProyect()">Borrar</button></td>
<!--<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#displayProyect">Mostrar</button></td>-->

<div class="modal fade" id="displayProyect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Investigadores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="firstName">Responsible Researcher:</label>
                    <p *ngFor="let researcher of responsibleResearcher">{{researcher.dni}}</p>
                </div>
                <div>
                    <label for="firstName">Researchers:</label>
                </div>
                <div>
                    <label for="firstName">Organisation:</label>
                    <p>{{proyect.organismo}}</p>
                </div>
                <div id="map" style="width: 100px; height: 100px;"></div>
                <script>
                    var map;

                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {
                                lat: -34.397,
                                lng: 150.644
                            },
                            zoom: 8
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBagbuGDTjVXpLFMx0vUNGpUPJMucr-QPE&callback=initMap" async defer></script>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>