/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
header {
    background: #f5f5f5;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    margin-bottom: 2em;
}

.table-earning thead th {
    background: #0082c3;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.table {
    margin-top: 1em;
}

.au-btn--blue {
    background: #ffffff;
    color: #0082c3;
    border: 2px solid #0082c3;
    font-weight: bold;
    padding: 10px;
}

.au-btn--blue:hover {
    background: #0082c3;
    color: #ffffff;
    border: 2px solid #0082c3;
}